<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %> 
<body>

	<%- include('./partials/headerLogueado') %> 
	
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Nombre del producto</h2> 
			<p class="product-detail-description">
				<a href="/product/add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/Porsche.png" alt="" class="product-detail-img">
					<p class="product-detail-description">
						El Porsche Cayenne S equipa un motor V6 de 2.9 litros de cilindrada con doble turbo y 324 kW (440 cv) de potencia máxima, y un par máximo de 550 Nm. El paso de 0 a 100 km/h se produce en 5,2 segundos (4,9 s. con Performance Start) alcanzando una velocidad máxima de 265 km/h.</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for( let i = 0; i < product.comments.length; i++ ) { %>
							<article>
							<img src=<%= product.comments[i].img %>  alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/users/profile"><%= product.comments[i].name %> <%= product.comments[i].lastname %> :</a> </strong>
								<%= product.comments[i].texto %></p>
							</div>
						</article>
						<% } %>
					
						

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	
	<%- include('./partials/footer')  %> 
	

</body>	
</html>