<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %> 
<body>
	<% if (user.logueado) { %>
		<%- include('./partials/headerLogueado') %>
	   <% } else{%> 
		   <%- include('./partials/header') %>
	   <% } %> 
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= product.car_brand %> <%= product.car_type %>  </h2> 
			<p class="product-detail-description">
				<a href="/product/add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%= product.car_image %> "alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= product.car_description %> 
					</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<%  for( let i = 0; i < product.comment.length; i++ ) { %>
							<article>
							<img src="/images/users/<%= product.comment[i].user.img %>"  alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/users/profile/<%= product.comment[i].user.id %>"><%= product.comment[i].user.username %> :</a> </strong>
								<%= product.comment[i].comentario %></p>
							</div>
						</article>
						<% } %>
					
						

					</section>
					<form class="form" action="/product/comment" method="POST">
						<input type="hidden" name="carId" value="<%= product.id %>">
						
						<input class="form-input" type="text" value="" name="comentario" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	
	<%- include('./partials/footer')  %> 
	

</body>	
</html>