<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %> 
<body>
	<% if (user.logueado) { %>
		<%- include('./partials/headerLogueado') %>
	   <% } else{%> 
		   <%- include('./partials/header') %>
	   <% } %> 

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="/images/users/<%= user.img %>"  alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6" style="color: white">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"><%= user.username %> 
						<a href="/users/edit/<%= user.id %>">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<li><%= user.cars.length %>  autos</li>
						<li><%= user.comments.length %> comentarios</li>
						<li>13 seguidores</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->
			<% for( let i = 0; i < products.length; i++ ) { %>
				<% let product = products[i] %> 
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/<%= product.id %>">
							<figure class="product-box_image">
								<img src="/images/products/<%=product.car_image%>" alt="<%= product.car_brand %>">
							</figure>
							<article class="product-box_data">
								<h2><%= product.car_brand %></h2>
								<p><%= product.car_type %> - <%= product.car_color %> - <%= product.car_year %> </p>
								<p><%= product.car_description %> </p>
								<p>Comentarios: 12</p>
							</article>
						</a>
					</section>
				</div>
			<% } %>
		</div>
	</div>
	<!-- /Mis productos -->


	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>	
</html>